<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="main.biggreenbook.entity.dao.ContentMapper">


    <select id="getQueryId" resultType="java.lang.Integer">
        select count(*)
        from `content`
        <if test="search != null and search != ''">
            where `content`.`title` like '%${search}%'
                or `content`.`main_text` like '%${search}%'
        </if>
    </select>

    <resultMap id="previewCardMap" type="main.biggreenbook.entity.vo.PreviewCard">
        <id property="contentCid" column="cid"/>
        <result property="contentCid" column="cid"/>
        <result property="contentLikeAmount" column="like_amount"/>
        <result property="contentTitle" column="title"/>
        <result property="resourcePath" column="first_path"/>
        <result property="resourceType" column="type"/>
        <result property="userAvatarPath" column="avatar"/>
        <result property="userNickname" column="nickname"/>
    </resultMap>

    <select id="getContentByPage" resultMap="previewCardMap">
        select `content`.`cid`                                        as cid,
               `content`.`like_amount`                                as like_amount,
               `content`.`title`                                      as title,
               `resource`.`type`                                      as type,
               JSON_UNQUOTE(JSON_EXTRACT(`resource`.`paths`, '$[0]')) as first_path,
               `user`.`avatar_path`                                   as avatar,
               `user`.`nickname`                                      as nickname
        from `content`
                 inner join `user` on `user`.`uid` = `content`.`uid`
                 inner join `resource` on `resource`.`sid` = `content`.`sid`
        order by `content`.`date` asc
            limit ${pageSize*pageNum}, #{pageSize}
    </select>

    <select id="getLatestContent" resultMap="previewCardMap">
        select `content`.`cid`                                        as cid,
               `content`.`like_amount`                                as like_amount,
               `content`.`title`                                      as title,
               `resource`.`type`                                      as type,
               JSON_UNQUOTE(JSON_EXTRACT(`resource`.`paths`, '$[0]')) as first_path,
               `user`.`avatar_path`                                   as avatar,
               `user`.`nickname`                                      as nickname
        from `content`
                 inner join `user` on `user`.`uid` = `content`.`uid`
                 inner join `resource` on `resource`.`sid` = `content`.`sid`
        order by `content`.`date` desc limit 0,#{amount}
    </select>

    <select id="queryContent" resultMap="previewCardMap">
        select `content`.`cid`                          as cid,
        `content`.`like_amount`                  as like_amount,
        `content`.`title`                        as title,
        `resource`.`type`                        as type,
        JSON_EXTRACT(`resource`.`paths`, '$[0]') as first_path,
        `user`.`avatar_path`                     as avatar,
        `user`.`nickname`                        as nickname
        from `content`
        inner join `user` on `user`.`uid` = `content`.`uid`
        inner join `resource` on `resource`.`sid` = `content`.`sid`
        <where>
            <if test="search != null and search != ''">
                `content`.`title` like '%${search}%'
                or `content`.`main_text` like '%${search}%'
            </if>
        </where>

        <choose>
            <when test="sort == 'HOT' and pageNum == 0">
                order by `content`.`like_amount` desc limit 0,#{amount}
            </when>
            <when test="sort == 'HOT' and pageNum != 0">
                order by `content`.`like_amount` asc limit ${pageSize*pageNum}, #{pageSize}
            </when>
            <when test="sort == 'LAST' and pageNum == 0">
                order by `content`.`date` desc limit 0,#{amount}
            </when>
            <when test="sort == 'LAST' and pageNum != 0">
                order by `content`.`date` asc limit ${pageSize*pageNum}, #{pageSize}
            </when>
        </choose>

    </select>
</mapper>
