<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.biggreenbook.entity.dao.UserMapper">

    <select id="getUserByUid" parameterType="java.lang.String" resultType="main.biggreenbook.entity.pojo.User">
        select *
        from user
        where uid = #{uid}
    </select>

    <resultMap id="userCardMap" type="main.biggreenbook.entity.vo.UserCard">
        <id property="userUid" column="uid"/>
        <result property="userNickname" column="nickname"/>
        <result property="userAvatarPath" column="avatar_path"/>
        <result property="contentAmount" column="contentAmount"/>
        <result property="fansAmount" column="fansAmount"/>
        <result property="status" column="status"/>
    </resultMap>

    <!--获取用户数量（含搜索）-->
    <select id="getQueryId" resultType="java.lang.Integer">
        select count(*)
        from `user`
        <if test="search != null and search != ''">
            where `user`.`nickname` like '%${search}%'
        </if>
    </select>

    <!--获取用户卡片（含搜索）-->
    <select id="getUserCardBySearch" resultMap="userCardMap" resultType="map">
        select `tmp`.`uid` as uid,
        `tmp`.`nickname` as nickname,
        `tmp`.`avatar_path` as avatar_path,
        `tmp`.`contentAmount` as contentAmount,
        `tmp`.`fansAmount` as fansAmount,
        count(`follow`.`uid`) as status
        FROM(select `tmp1`.`uid` as uid,
        `tmp1`.`nickname` as nickname,
        `tmp1`.`avatar_path` as avatar_path,
        `tmp1`.`contentAmount` as contentAmount,
        count(`follow`.`uid`) as fansAmount
        from (select `user`.`uid` as uid,
        `user`.`nickname` as nickname,
        `user`.`avatar_path` as avatar_path,
        count(`content`.`uid`) as contentAmount
        from `user`
        left join `content` on `user`.uid  = `content`.`uid`
        <if test="search != null and search != ''">
            where `user`.`nickname` like '%${search}%'
        </if>
        group by `user`.`uid`)tmp1
        LEFT JOIN `follow` ON `follow`.`uid` = `tmp1`.uid
        GROUP BY `tmp1`.uid)tmp
        LEFT JOIN `follow` on `follow`.`uid` = `tmp`.`uid` and `follow`.`follower` = ${follower}
        group by `tmp`.`uid`
        <choose>
            <when test="sort == null or sort == ''">
                order by nickname asc limit ${pageSize*pageNum}, #{pageSize}
            </when>
            <when test="sort == 'FANS'">
                order by fansAmount asc limit ${pageSize*pageNum}, #{pageSize}
            </when>
        </choose>
    </select>
    <!--通过amount获取用户卡片（含搜索）-->
    <select id="getUserCardByAmount" resultMap="userCardMap" resultType="map">
        select `tmp`.`uid` as uid,
        `tmp`.`nickname` as nickname,
        `tmp`.`avatar_path` as avatar_path,
        `tmp`.`contentAmount` as contentAmount,
        `tmp`.`fansAmount` as fansAmount,
        count(`follow`.`uid`) as status
        FROM(select `tmp1`.`uid` as uid,
        `tmp1`.`nickname` as nickname,
        `tmp1`.`avatar_path` as avatar_path,
        `tmp1`.`contentAmount` as contentAmount,
        count(`follow`.`uid`) as fansAmount
        from (select `user`.`uid` as uid,
        `user`.`nickname` as nickname,
        `user`.`avatar_path` as avatar_path,
        count(`content`.`uid`) as contentAmount
        from `user`
        left join `content` on `user`.uid  = `content`.`uid`
        <if test="search != null and search != ''">
            where `user`.`nickname` like '%${search}%'
        </if>
        group by `user`.`uid`)tmp1
        LEFT JOIN `follow` ON `follow`.`uid` = `tmp1`.uid
        GROUP BY `tmp1`.uid)tmp
        LEFT JOIN `follow` on `follow`.`uid` = `tmp`.`uid` and `follow`.`follower` = ${follower}
        group by `tmp`.`uid`
        <choose>
            <when test="sort == null or sort == ''">
                order by nickname desc limit 0, #{amount}
            </when>
            <when test="sort == 'FANS'">
                order by fansAmount desc limit 0,#{amount}
            </when>
        </choose>
    </select>

</mapper>
